/**
*
* {{ properCase name }}
* @flow
* @author: @ib/{{ developerName}}
*
*/

import React from 'react'
import { observer } from 'mobx-react/native'

import { MainContainer, SampleText } from './styledComponents'

type {{ properCase name }}Props = {}

const {{ properCase name }} = (props: {{ properCase name }}Props) => {
  return (
    <MainContainer>
      <SampleText>This is {{ properCase name }} UI</SampleText>
    </MainContainer>
  )
}

export default observer({{ properCase name }})
