/**
*
* {{ properCase name }}
* @flow
* @author: @ib/{{ developerName}}
*
*/

import React, { {{{ type }}} } from 'react'

import { MainContainer, SampleText } from './styledComponents'

type {{ properCase name }}Props = {}

class {{ properCase name }} extends {{{ type }}}<{{ properCase name }}Props> {
  // eslint-disable-line react/prefer-stateless-function
  render() {
    return (
      <MainContainer>
        <SampleText>This is {{ properCase name }} UI</SampleText>
      </MainContainer>
    )
  }
}

export default {{ properCase name }}
