/**
*
* {{ properCase name }}
* @flow
* @author: @ib/{{ developerName }}
*
*/

import * as React from 'react'
import { storiesOf } from '@storybook/react-native'
import { Provider } from 'mobx-react/native'
import stores from '../../stores'
import {{ properCase name }} from './index'

storiesOf('{{ properCase name }} Stories', module)
  .addDecorator(story => <Provider {...stores}>{story()}</Provider>)
  .add('Default', () => <{{ properCase name }} />)
