/**
*
* {{ properCase name }}
* @flow
* @author: @ib/{{ developerName}}
*
*/

import styled from '@rn/styled-components/native'

export const MainContainer = styled.View``
export const SampleText = styled.Text``
